################# Containers
/heimdall*/
/portainer/
/fail2ban/
/myownsite_*/
/zoneminder*/
/statping/

################# Configuration
#*.env
#shared/.htpasswd
#traefik2/rules/middlewares.toml
#traefik2/acme/acme.json
traefik2/traefik.log
#traefik2/rules/middlewares-chains.toml
